
@font-face {
    font-family: 'Trebuchet';
    src: url('Trebuchet MS.ttf'); /* IE9 Compat Modes */
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.container {
    padding: 10px;
}


.container h1 {
    text-align: center;
}

.container h4 {
    text-align: center;
    margin-top: -20px; 
    color: #F6A929;
}
table {
    text-align: center;
    margin: 0 auto;
}

tbody {
    background-color: #ececec;
}


table thead {
    background-color: #F6A929;
    color: white;
}

table td {padding: 5px;}

.container form {
    font-size: 25px;
    text-align: left;
    
    margin: 0 auto;
    width: fit-content;
    font-weight: lighter;
}

.container form input {
    border-radius: 0%;
    font-size: 20px;
}

.container form input[type="submit"] {
    background: #F05F40;
    border: 1px solid #391515;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 240px;
    
}

.container form input[type="submit"]:hover {
    cursor: pointer;
    background: #cf5138;
}

.container form span {
    font-size: 18px;
    color: red;
}

#entrar {
    background: #F05F40;
    border: 1px solid #391515;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}

#entrar:hover {
    cursor: pointer;
    background: #cf5138;
}


